

<div class="well col-xs-8 col-xs-offset-2">

	<h3><%= @rental_detail.scenario.property.property_name %> | scenario <%= @rental_detail.scenario.scenario_name %>.</h3>
	
	<ul class="nav nav-tabs">
	  <li><%= link_to "Scenario Summary", scenario_path(@rental_detail.scenario.id)%></li>
	  <li class="active"><%= link_to "Rental Details", rental_detail_path(@rental_detail.id)%></li>
	  <li><%= link_to "Setup Costs", setup_cost_path(@rental_detail.scenario.setup_cost.id)%></li>
	  <li><%= link_to "Debt", debt_path(@rental_detail.scenario.debt.id)%></li>
	  <li><%= link_to "Valuation Details", valuation_detail_path(@rental_detail.scenario.valuation_detail.id)%></li>
	</ul>
	
	  <table class="table table-striped">
	    <thead>
	      <tr>
			<th>ID</th>
			<th>Number of Beds</th>
			<th>Weekly Rent</th>
			<th>Term (weeks)</th>
			<th>Occupancy</th>
	      </tr>
	    </thead>
	    <tbody>
			<tr>
				<td><%= @rental_detail.id %></td>
				<td><%= @rental_detail.number_of_beds %></td>
				<td>£<%= @rental_detail.weekly_rent %></td>	
				<td><%= @rental_detail.term_weeks %></td>	
				<td><%= 100 * @rental_detail.occupancy %>%</td>	
				<td><%= link_to "Edit this rental detail", edit_rental_detail_path(@rental_detail.id), class: "btn btn-xs btn-primary" %></td>	
			</tr>
	    </tbody>
	  </table>

</div>
