<h1>This is my property landing page</h1>

<div class="container">
  <div class="well">
  <h2>Properties Table</h2>
  <p>This table contains all properties and attributes <%= link_to "Add new property", new_property_path, class: "btn btn-xs btn-info" %></p>        
  <table class="table table-striped">
    <thead>
      <tr>
		<th>ID</th>
		<th>Property Name</th>
		<th>Address</th>
		<th>Postcode</th>
		<th>Sector</th>
      </tr>
    </thead>
    <tbody>
    	<% @property.each do |p| %>
			<tr>
				<td><%= p.id %></td>
				<td><%= p.property_name %></td>	
				<td><%= p.address %></td>	
				<td><%= p.postcode %></td>	
				<td><%= p.sector.sector_name %></td>	
				<td><%= link_to "View this property", property_path(p), class: "btn btn-xs btn-info" %></td>
				<td><%= link_to "Edit this property", edit_property_path(p), class: "btn btn-xs btn-primary" %></td>
				<td><%= link_to "Delete this property", property_path(p), method: :delete,
								data: { confirm: "Are you sure you want to delete this property?"},
								class: "btn btn-xs btn-danger" %></td>
			</tr>
		<% end %>
    </tbody>
  </table>
  </div>
</div>

<div class='row'>
	<div class='col-md-3 '>
		<%= link_to "New Property", new_property_path %> | <%= link_to "Scenarios", scenarios_path %> | <%= link_to "Sectors", sectors_path %>
	</div>
</div>
