
<h1>New Property</h1>

<%= form_for @property, url: {action: "create"} do |f| %>
  <div>
	  <%= f.label :property_name %>
	  <%= f.text_field :property_name %>
  </div>
  <div>
  	<%= f.label :address %>
  	<%= f.text_field :address %>
  </div>
  <div>
  	<%= f.label :postcode %>
  	<%= f.text_field :postcode %>
  </div>
  <div>
  	<%= f.submit "Create" %>
  </div>
<% end %>
