<h1>This is my calculator landing page</h1>

<table>
	<tr>
		<th>ID</th>
		<th>Value A</th>
		<th>Value B</th>
		<th>Product A x B</th>
		<th>Value C</th>
	</tr>

	<% @calc.each do |c| %>
		<tr>
			<td><%= c.id %></td>
			<td><%= c.value_a %></td>
			<td><%= c.value_b %></td>
			<td><%= c.value_a * c.value_b %></td>
		</tr>
	<% end %>
</table>

<%= link_to "New Calculation", new_calculator_path %>
