
<h1>New Scenario</h1>

<%= form_for @scenario, url: {action: "create"} do |f| %>
  <div>
	  <%= f.label :scenario_name %>
	  <%= f.text_field :scenario_name %>
  </div>
  <div>
  	<%= f.label :description %>
  	<%= f.text_area :description %>
  </div>
  <div>
  	<%= f.label :property %>
  	<%= collection_select(:scenario, :property_id, Property.all, :id, :property_name, prompt: true) %>
  </div>  
  <div>
  	<%= f.submit "Create" %>
  </div>
<% end %>
