<h1>Show page for <%= @scenario.id %></h1>

<div class="well col-xs-8 col-xs-offset-2">
	
	<ul class="nav nav-tabs">
	  <li class="active"><%= link_to "Scenario Summary", scenario_path(@scenario.id)%></li>
	  <li><%= link_to "Rental Details", rental_detail_path(@scenario.rental_detail.id)%></li>
	  <li><%= link_to "Setup Costs", setup_cost_path(@scenario.setup_cost.id)%></li>
	  <li><%= link_to "Debt", debt_path(@scenario.debt.id)%></li>
	  <li><%= link_to "Valuation Details", valuation_detail_path(@scenario.valuation_detail.id)%></li>
	</ul>

	<h2>This is scenario ID <%= @scenario.id %></h2>

</div>
